body {
  margin: 0;
  background: #000000;
  color: #FAFAFA;
  font-family: Tahoma, Helvetica, Arial, Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
